/* Text */
$light-body-text: #fff;
$dark-body-text: #4e4e4e;
$header-text: #2c2c2c;

/* Theme Colors */
$primary: #42507f;
$secondary: #6ca2c1;
$dark-grey: #bebebe;
$grey: #c5c5c5;
$light-grey: #d5d5d5;
$lightest-grey: #f6f6f6;